.wbdv-options {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #efefef !important;
}
.wbdv-options:hover{
    background-color: #28a745;
}

.wbdv-options-container{
    padding-top: 56px;
}
.wbdv-option-list-container{
    padding-top: 5%;
}

.wbdv-options-item{
    color: black;
}

.wbdv-options-item:hover{
    color: black;
}


