.wbdv-search-bar{
    display: inline-block;
    vertical-align: center;
    width: 100% !important;
}

.btn-outline-success{
    width: 100% !important;
}

.form-inline .form-control{
}

.wbdv-link{
    color: white;
}

#logoutLink:hover {
    color: red;
}

.wbdv-link:hover{
    color: white;
}


.logo{
    height:100px;
    width: auto;
}
.wbdv-right-element{
    float: right;
    text-align: right;
}