.container-profile {
    padding-top: 56px;
    /*background-image: url("../images/loginBg.jpg");*/
    height:100%;
}

.wbdv-profile-container {
    padding-top: 2%;
}
.wbdv-follow-container {
    padding-top: 5%;
}